.footer {
}
.footer-container {
	border-top: 1px solid lightgray;
	padding-block: 15px;
}
.footer-input {
	height: 35px;
	border: 1px solid white;
	border-radius: 3px;
	max-width: 300px;
	display: block;
	margin-inline: auto;
}
